.home {
  @include rowCenter;
  height: 100vh;
  width: 100%;
  &__left {
    @include center;
    background-image: url("../../assets/img/bgBody.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 40%;
    &--title {
      span {
        color: $color2;
      }
      text-align: center;
      font-size: 10rem;
    }
  }
  &__right {
    width: 60%;
    height: 100vh;
    background: $linear;
    @include columnCenterSpace;
    &__diaporama {
      width: 70vmin;
      overflow: hidden;
      border: 20px solid #ffffff;
      border-radius: 8px;
      box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
      &--wrapper {
        width: 100%;
        display: flex;
        animation: slide 10s infinite linear;
        img {
          max-height: 500px;
          padding: 0 20px;
        }
      }
    }
  }
}

// phone size diaporama

// &__diaporama {
//     width: 49vmin;
//     overflow: hidden;
//     border: 20px solid #ffffff;
//     border-radius: 8px;
//     box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
//     &--wrapper {
//       width: 100%;
//       display: flex;
//       animation: slide 10s ease-in-out infinite;
//       img {
//         max-height: 500px;
//       }
//     }
//   }

// pc version

// &__diaporama {
//     width: 80vmin;
//     overflow: hidden;
//     border: 20px solid #ffffff;
//     border-radius: 8px;
//     box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
//     &--wrapper {
//       width: 100%;
//       display: flex;
//       animation: slide 12s ease-in-out infinite;
//       img {
//         max-height: 500px;
//         padding: 0 20px;
//       }
//     }
//   }
