// Importation font

// h1 font
@font-face {
  font-family: "Marvel";
  src: url(../assets/fonts/Marvel-Regular.ttf);
}

// title font
@font-face {
  font-family: "SuperSquad";
  src: url(../assets/fonts/Marvel-Regular.ttf);
}

// font
@font-face {
  font-family: "Komikax";
  src: url(../assets/fonts/Marvel-Regular.ttf);
}

// variable color

$color1: #0476f2;
$color2: #ed1d24;
$color3: #cccccc;
$color4: #bbbbbb;
$color5: #ffb400;

$linear: linear-gradient(
  166deg,
  rgba(4, 118, 242, 1) 0%,
  rgba(255, 255, 255, 1) 39%,
  rgba(253, 234, 235, 1) 50%,
  rgba(237, 29, 36, 1) 100%
);
$linearHover: linear-gradient(
  166deg,
  rgba(237, 29, 36, 1) 0%,
  rgba(255, 255, 255, 1) 39%,
  rgba(253, 234, 235, 1) 50%,
  rgba(4, 118, 242, 1) 100%
);

$writingColor1: #ffffff;
$writingColor1: #151515;

// variable size

$fontSizeNav: 1.2rem;
$fontSize: 1.1rem;
// $withNavBtn: 150px;

// Variable fonts

$fontH1: "Marvel", "Times New Roman", Times, serif;
$fontTitle: "SuperSquad", "Times New Roman", Times, serif;
$font: "Komikax", "Times New Roman", Times, serif;

//Mixin

@mixin columnCenter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@mixin columnCenterSpace {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
@mixin rowCenter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  font-family: $fontH1;
  letter-spacing: 1rem;
}

//   @mixin BGAnimation() {
//     background: linear-gradient(300deg, #79d5ff93, #ffffffbf, #ffffffb7);
//     background-size: 180% 180%;
//     animation: gradient-animation 15s ease infinite;
//   }

// Animation

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-445%);
  }
}
//   @keyframes gradient-animation {
//     0% {
//       background-position: 0% 50%;
//     }
//     50% {
//       background-position: 100% 50%;
//     }
//     100% {
//       background-position: 0% 50%;
//     }
//   }
//   @keyframes open-animation {
//     0% {
//       opacity: 0;
//       transform: translate(-3000px);
//     }
//     35% {
//       opacity: 0.6;
//       transform: translate(1000px);
//     }
//     65% {
//       opacity: 0.8;
//       transform: translate(-500px);
//     }
//     85% {
//       opacity: 0.9;
//       transform: translate(200px);
//     }
//     90% {
//       opacity: 1;
//       transform: translate(-100px);
//     }
//     95% {
//       transform: translate(50px);
//     }
//     100% {
//       transform: translate(0);
//     }
//   }
//   @keyframes begin-animation {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
//   }
//   //General setting

//   a {
//     text-decoration: none;
//   }

//   ul {
//     list-style-type: none;
//   }

// pc diaporama animation

// @keyframes slide {
//   0% {
//     transform: translateX(-20px);
//   }
//   100% {
//     transform: translateX(-550%);
//   }
// }
